/*Canva.com*/

Dark Cyan {
    background-color: #0C65AB;
}

Cornflower Blue {
    background-color: #54ACEC;
}

Light Blue {

    background-color: #B3CCEC;
}

Sky Blue {

    background-color: #7FB1DC;
    
}

Steel Blue {

    background-color: #3B7DB5;

}


/*de la otra imagen más oscura*/

Midnight Blue {

    background-color: #1C4B94;

}

Steel Blue {

    color: #3F67A8;

}

Light Steel Blue {

    color: #A4C3DC;

}

Steel Blue {

    color: #5A7DB4;

}

Steel Blue {
    
    color: #6E92C3;
}


Palette Generator


.bla {color: #0B68AC}
.bla  {color: #AFCCEA}
.bla {color: #B3D7F5}
.bla {color: #ACC8E0}
.bla{color: #5B97C3}
.bla{color: #88BEE8}
