.contenedor {
    display: grid;
    grid-template-areas:
    'head head head'
    'main main main'
    'main main main'
    'foot foot foot';
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    height: 100vh;
    background-image: url('/homecortado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*Insertar propiedades para hacer la página responsive*/
}

.principal, .cabecera, .pie {
    opacity: 0.91;
    font-family: Volvo;
}


.principal {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
}

.titulo, .subtitulo, .separador {
    margin: 0px;
    padding: 0px;
}

.nombre, .descripcion {
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}

.separador {
    font-size: 2.5rem;
}

.titulo {
    
    font-family: Volvo;
    border-width: 2px;

}

.subtitulo {

    font-family: Volvo;
    border-width: 2px;
}



.panel, .software {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.panel {
    margin: 0px 7.5rem;
}


.pie {
    color: #B2CDEB;
    grid-area: foot;
    background-color: #0C67AD;
    display: flex;
    align-items: center;
    justify-content: center;
}
