.estilos__container {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: grid;
    gap: 0.5rem;
    place-content: start center;
    grid-template-columns: repeat(12,1fr);
    background-color: rosybrown;
}

.estilos__titulo-pagina {
    margin: 0;
    padding: 0;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    text-align: center;
    box-sizing: border-box;
    background-color: royalblue;
}

.tipografia-container {
    grid-column: 1 / 13;
    grid-row: 2 / 5;
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: green;
    justify-items: center;
}

.tipografia {
    width: 40vw;
    height: 40vh;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: blanchedalmond;
}

.tipografia-uno {
    font-family: Volvo-Penta;
}

.tipografia-dos {
    font-family: sans-serif;
}


.estilos__colores {
    margin: 0;
    padding: 0;
    grid-row: 8 / 9;
    grid-column: 4 / 10;
    justify-self: center;
    display: grid;
    grid-template: 1fr / repeat(6, 1fr);
    gap: 1rem;
}

.estilos__colores__color {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*COMPLETAR LOS DEMÁS ESTILOS*/
.estilos__colores__color__relevancia {
    margin: 0;
    padding: 0;
}


.estilos__colores__color__valor {
    margin: 0;
    padding: 0;
       
}

.estilos__colores__color__fill {
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    background-color: grey;
    border-radius: 6px;
}