.embarcaciones {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    font-family: 'ShareTech'; /*'Century Gothic' es la letra de las planillas, Roboto va bien en 0.9rem -  */
    font-size: .9rem;
    box-sizing: border-box;
    overflow: auto;
}

.embarcaciones__titulos, .embarcaciones__embarcacion {
    box-sizing: border-box;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 2rem 5fr 4rem 5fr 2rem minmax(6rem, 2fr) minmax(6rem, 2fr);

    justify-items: center;
}

.embarcaciones__titulo, .embarcaciones__campo {
    width: 100%;
    text-align: center;
}

.embarcaciones__flag {
    align-self: end;
    justify-self: center;
}