@font-face {
    font-family: 'Volvo';
    src: url('/fuentes/VolvoBroadPro.otf');
}

@font-face {
    font-family: 'IBM';
    src: url('/fuentes/IBMPlexSansCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Istok Web';
    src: url('/fuentes/IstokWeb-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('/fuentes/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fuentes/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fuentes/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Palanquin';
    src: url('/fuentes/Palanquin-Regular.ttf');
}

@font-face {
    font-family: 'Pavanam';
    src: url('/fuentes/Pavanam-Regular.ttf');
}
@font-face {
    font-family: 'Questrial';
    src: url('/fuentes/Questrial-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/fuentes/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Signika';
    src: url('/fuentes/Signika-Regular.ttf');
}
@font-face {
    font-family: 'Titillium Web';
    src: url('/fuentes/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'Share';
    src: url('/fuentes/Share-Regular.ttf');
}
@font-face {
    font-family: 'Tahoma';
    src: url('/fuentes/tahoma.ttf');
}
@font-face {
    font-family: 'Swiss';
    src: url('/fuentes/tt0009m_.ttf');
}
@font-face {
    font-family: 'Square';
    src: url('/fuentes/tt0246m_.ttf');
}
@font-face {
    font-family: 'SegoeUI';
    src: url('/fuentes/segoeui.ttf');
}
@font-face {
    font-family: 'ShareTech';
    src: url('/fuentes/ShareTech-Regular.ttf');
}



body {
    /******Colores******/
    --color-tipografia: black; /*#1C2321;*/
    --color-fondo: rgba(0, 0, 0,0.5);
    --color-card: #EDE9E9;
    --color-azul: #0C67AD;
    --color-gris-obscuro: #1C2321 ;
    --color-gris: grey;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.simple-hover {
    transition: background-color 0.2s ease-in-out;
}


.simple-hover:hover {
    box-shadow: white 0 0 0;
    background-color: var(--color-card);
    cursor: pointer;
}

.hover-oscuro, .hover-claro {
    transition: box-shadow 0.3s ease-out;
}

.hover-oscuro:hover {
    box-shadow: 0px 0px 5px 1px #222222;
}

.hover-claro:hover {
    box-shadow: 0px 0px 5px 1px white;
}

.lista-tareas__desplazar {
    transform: translateY(100%);
}